body{
    background-color: rgb(161, 147, 147);
}

h1{

    background-color: green;
    font-family:'Times New Roman', Times, serif;
    margin-left: 700px;
    padding: 20px;
    width: 400px;
    text-align: center;
}

img{
    margin-left: 770px;
    margin-bottom: 20px;
    

}

.container-one{

    background-color: green;
    margin-left: 500px;
    width: 800px;
    padding: 5px;
    
}
.content{
    font-family:'Times New Roman', Times, serif;
    font-weight: 700;
     
}

.Ingredients{

    background-color: green;
    margin-left: 25px;
    width: 150px;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    padding: 5px;
}

.Ingredients-container{

    font-family:'Times New Roman', Times, serif;
    padding: 5px;
    margin-left: 50px;
}

.Steps{

    padding: 5px;
    background-color: green;
    margin-left: 25px;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    width: 400px;
}

/*.container-two{

    background-color: red;
     margin-left: 25px;
    width: 1000px;
}

.content-two{
    
    font-weight: 700;
    margin-left: 25px;
    padding: 5px
}
*/

.steps-container{
    font-family:'Times New Roman', Times, serif;

    padding: 20px;
    margin-left: 50px;
}
